.button-notification 
{ 
    padding: 10px 5px;
    color: #313536;
}
.paragraph
{
    color: #2A6B96;
    font-size: large;
}

//   .sidenav-container {
//       height: 70%;
//       position: relative;
//       bottom: 10px;
//       padding-left: 10px;
//     }
  
  .sidenav {
    position: inherit;
    bottom: 20px;
    height: 70%;
    width: 200px;
    box-shadow: 0px 0px 6px 1px #a8a6a6;
  }
  
//   .sidenav .mat-toolbar {
//     background: inherit;
//   }
  
   .mat-toolbar.mat-primary {
     position: sticky;
     top: 0;
     z-index: 1;
   }
   
   #introParagraph{
       border-bottom: 10px;
       border-bottom-color: black;
   }